<div style="display: none;" class="inspDet" id="sbe">
    <div id="contentItype"><style>
      .form-check .form-check-input{
      width:20px;
      height:20px;
      border: 1px solid #ced4da !important;
      }
      .table-secondary, .table-secondary>td, .table-secondary>th {
          background-color: #f5f5f5 !important;
        padding:5px !important;
      }
      .table-secondary tbody+tbody, .table-secondary td, .table-secondary th, .table-secondary thead th {
          border-color: #dee2e6 !important;
      }
    </style>
    <div class="row mt-5">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="table-secondary">
                  <th scope="col" colspan="2" rowspan="2" class="text-center align-middle" width="50%">Inspection List</th>
                  <th scope="col" rowspan="2" class="text-center align-middle">Acceptance Criteria</th>
                  <th scope="col" colspan="3" class="text-center">CONTRACTOR</th>
                  <th scope="col" rowspan="2" class="text-center align-middle">ENGINEER</th>
                </tr>
                <tr class="table-secondary">
                  <th scope="col" class="text-center">S/C</th>
                  <th scope="col" class="text-center">SITE</th>
                  <th scope="col" class="text-center">QA/QC</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" width="3%">1</th>
                  <td><strong>General</strong></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td scope="row">1.1</td>
                  <td>Approved Method Statement &amp; ITP</td>
                  <td>Approval</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="scg1">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="siteg1">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="qcg1">
                    </div></td>
                  <td><input type="text" class="form-control" name="engg1"></td>
                </tr>
                <tr>
                  <td scope="row">1.2</td>
                  <td>Design &amp; Detailed Working Drawings for Rebars</td>
                  <td>Approved Drawings</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="scg2">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="siteg2">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="qcg2">
                    </div></td>
                  <td><input type="text" class="form-control" name="engg2"></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td><strong>Works Preparation</strong></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td scope="row">2.1</td>
                  <td>Ensure that work area to be sand blasted is isolated with temporary protection enclosure and confinement capable of controlling the sand/dust</td>
                  <td>As per Method Statement</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="scwp1">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="sitewp1">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="qcwp1">
                    </div></td>
                  <td><input type="text" class="form-control" name="engwp1"></td>
                </tr>
                <tr>
                  <td scope="row">2.2</td>
                  <td>Ensure that blasting machine is properly checked and set up in most safe and convenient area to reach all the corners of work area</td>
                  <td>As per Method Statement RA</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="scwp2">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="sitewp2">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="qcwp2">
                    </div></td>
                  <td><input type="text" class="form-control" name="engwp2"></td>
                </tr>
                <tr>
                  <td scope="row">2.3</td>
                  <td>Method of work and risk assessment is address by Site Engineer/Safety Officer prior to start of blasting operation. PPE is mandatory</td>
                  <td>As per Method Statement RA</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="scwp3">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="sitewp3">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="qcwp3">
                    </div></td>
                  <td><input type="text" class="form-control" name="engwp3"></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td><strong>Sand Blasting Works</strong></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td scope="row">3.1</td>
                  <td>Ensure that reinforcement is blasted from top to bottom or vice versa and workers &amp; operators must be at least one meter away from the point of impact</td>
                  <td>As per Method Statement</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="scsb1">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="sitesb1">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="" name="siteqc1">
                    </div></td>
                  <td><input type="text" class="form-control" name="engsb1"></td>
                </tr>
                <tr>
                  <td scope="row">3.2</td>
                  <td>Check blasting effective distance between  the nozzle and surface is 35 cm. maximum</td>
                  <td>As per Method Statement</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="" name="scsb2">
                    </div></td>
                  <td class="text-center"><div class="form-check"> 
                      <input class="form-check-input" type="checkbox" value="" name="sitesb2">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="qcsb2">
                    </div></td>
                  <td><input type="text" class="form-control" name="engsb2"></td>
                </tr>
                <tr>
                  <td scope="row">3.3</td>
                  <td>Ensure that cleaning operation will start once blasting has been carried out. Trapped sand on the reinforcement will be removed by pressurized water</td>
                  <td>As per Method Statement</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="scsb3">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="sitesb3">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="qcsb3">
                    </div></td>
                  <td><input type="text" class="form-control" name="engsb3"></td>
                </tr>
                <tr>
                  <td scope="row">3.4</td>
                  <td>Spill sand from blasting shall be collected and disposed properly in designated location. Proper PPE should be wear when disposing dust or sand.</td>
                  <td>As per Method Statement</td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="scsb4">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="sitesb4">
                    </div></td>
                  <td class="text-center"><div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="qcsb4">
                    </div></td>
                  <td><input type="text" class="form-control" name="engsb4"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th rowspan="2" width="15%" class="align-middle text-center"><strong><br>Comments</strong></th>
                    <td>&nbsp;</td>
                    <th width="50%" class="text-center">THE ENGINEER</th>
                  </tr>
                  <tr>
                    <td colspan="2"><textarea class="form-control" name="comments"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="text-center">Signing Off</th>
                      <th class="text-center">Sixco-Trojan JV Site Superintendent</th>
                      <th class="text-center">Sixco-Trojan JV QC Inspector</th>
                      <th class="text-center">The Engineer  Inspector</th>
                    </tr>
                    <tr>
                      <td class="text-center">Date</td>
                      <td><input type="text" class="form-control hasDatepicker" name="sitedateso" id="sitedateso"></td>
                      <td><input type="text" class="form-control hasDatepicker" name="qcdateso" id="qcdateso"></td>
                      <td><input type="text" class="form-control hasDatepicker" name="engedateso" id="engedateso"></td>
                    </tr>
                    <tr>
                      <td class="text-center">Name</td>
                      <td><input type="text" class="form-control" name="sitenameso"></td>
                      <td><input type="text" class="form-control" name="qcnameso"></td>
                      <td><input type="text" class="form-control" name="engnameso"></td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div></div>
  </div>