:root {
    --separator-border: hsla(0,0%,50%,.35)
}

.alignCss {
    display: inline-block;
    text-align: right;
}

.hrstyle {
    margin: 0;
}

.css-39bbo6 {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
}

.allotment-module_splitView__1rmCV {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-q6hm0g {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 4px 48px 4px 16px;
}
.css-1ontqvh {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
}

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #ffe493
}

.mainUlwir {
    overflow-y: auto;
}

.css-1f8bwsm {
    min-width: 56px;
    color: rgba(0, 0, 0, 0.54);
    flex-shrink: 0;
    display: inline-flex;
}
.css-1xar93x {
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.css-14tqbo1 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: block;
}
.css-mbfek {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.6);
    display: block;
}
.css-1j7qk7u {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 5px;
    font-size: 1.125rem;
}
#mainViewer {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F0F8FF;
}
.css-1k33q06 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
}
.css-1x72cfx {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}
.jss11 {
    width: 307px;
}
.jss13 {
    padding: 5px;
    min-height: 60px;
}
.jss13:hover {
    cursor: pointer;
    background: #565656;
}
.jss13> .MuiListItemSecondaryAction-root {
    right: 0;
}
.jss14 {
    color: #959595;
    right: 5px;
    bottom: 5px;
    position: absolute;
    font-size: 0.7rem;
    font-family: sans-serif;
  }
.jss15 {
color: #c2c7d0;
padding: 5px;
justify-content: flex-end;
}
.jss16 {
color: white !important;
}
.jss17 {
color: #c2c7d0 !important;
min-width: 20px !important;
}
.jss18 {
padding: 10px;
}
.jss19 {
color: #c2c7d0;
width: 80%;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.jss20 {
color: #929292 !important;
width: 75%;
overflow: hidden;
font-size: 0.7rem !important;
white-space: nowrap;
text-overflow: ellipsis;
}
.jss21 {
color: #c2c7d0;
display: flex;
align-items: baseline;
}
.jss22 {
color: white !important;
margin-bottom: 5px;
}
.jss23 {
right: 0;
}

.jss24 {
width: 50%;
}

.jss6 {
margin-left: auto;
}
.jss7 {
background: #343a40;
border-bottom: 1px solid #6f6f6f;
}
.jss8 {
    width: 90px;
}
.float-right {
    float: right!important;
}
select.custom-select {
    padding-right: 1.25rem!important;
}

.leftNav {
    background: #343a40;
    border-bottom: 1px solid #6f6f6f;
    width: 318px;
}
.nav {
    display: inline-block;
}
.emptyLi {
    width: 35rem;
}
.rightNav {
    background-color: #ffc107 !important;
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(255,255,255,0.6) 70%, rgba(255,255,255,0.5) 70%, rgba(0,0,0,0.0));
    width: 76.8rem;
}

.jss9 {
top: 0;
width: 1100px;
height: 63px;
display: flex;
position: absolute;
background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(255,255,255,0.6) 70%, rgba(255,255,255,0.5) 70%, rgba(0,0,0,0.0));
align-items: center;
padding-left: 0 !important;
background-color: #ffc107;
}
.jss10 {
font-size: 1.5rem;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-1yxmbwk {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding-left: 0px;
}

#rightPanel {
    display: none;
    left: 82%;
    width: 18%;
    background-color: ghostwhite;
    position: absolute;
    padding: 10px;
    height: 100%;
}

.jss1 {
width: 100%;
height: calc(100% - 50px);
display: flex;
flex-flow: column;
}
.jss2 {
width: 100%;
}
.jss3 {
height: 100%;
display: flex;
position: relative;
flex-flow: row;
}
.jss4 {
color: #c2c7d0;
background: #343a40;
border-right: 1px solid #d5d5d5;
}
.jss5 {
height: calc(100% - 50px);
position: relative;
flex-grow: 1;
flex-basis: auto;
}
.css-hnz17l {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-size: 1.2rem;
    padding-left: 16px;
    font-weight: 700;
}
.jss12 {
    left: 307px;
}
.jss25 {
    left: 1000px;
}
.jss26 {
color: #343a40;
top: 0;
left: 90%;
width: 100%;
height: 63px;
display: flex;
position: absolute;
background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(255,255,255,0.6) 70%, rgba(255,255,255,0.5) 70%, rgba(0,0,0,0.0));
align-items: center;
padding-left: 0 !important;
background-color: #ffc107;
}
.css-1xhj18k {
    display: flex;
    flex-direction: row;
}
.css-irk9ju {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(25, 118, 210, 0.5);
    color: rgb(25, 118, 210);
}
.css-6xugel {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.allotment-module_splitView__1rmCV>.allotment-module_sashContainer__18Sm8 {
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%
}

.allotment-module_splitView__1rmCV>.allotment-module_sashContainer__18Sm8>.allotment-module_sash__of6Bm {
    pointer-events: auto
}

.allotment-module_splitView__1rmCV>.allotment-module_splitViewContainer__1ugsQ {
    height: 100%;
    position: relative;
    white-space: nowrap;
    width: 100%
}

.allotment-module_splitView__1rmCV>.allotment-module_splitViewContainer__1ugsQ>.allotment-module_splitViewView__KtCWc {
    position: absolute;
    white-space: normal
}

.allotment-module_splitView__1rmCV>.allotment-module_splitViewContainer__1ugsQ>.allotment-module_splitViewView__KtCWc:not(.allotment-module_visible__phJMN) {
    display: none
}

.allotment-module_splitView__1rmCV.allotment-module_vertical__1ACDd>.allotment-module_splitViewContainer__1ugsQ>.allotment-module_splitViewView__KtCWc {
    width: 100%
}

.allotment-module_splitView__1rmCV.allotment-module_horizontal__Tf6PK>.allotment-module_splitViewContainer__1ugsQ>.allotment-module_splitViewView__KtCWc {
    height: 100%
}

.allotment-module_splitView__1rmCV.allotment-module_separatorBorder__3xs3c>.allotment-module_splitViewContainer__1ugsQ>.allotment-module_splitViewView__KtCWc:not(:first-child):before {
    background-color: hsla(0,0%,50%,.35);
    background-color: var(--separator-border);
    content: " ";
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 5
}

.allotment-module_splitView__1rmCV.allotment-module_separatorBorder__3xs3c.allotment-module_vertical__1ACDd>.allotment-module_splitViewContainer__1ugsQ>.allotment-module_splitViewView__KtCWc:not(:first-child):before {
    height: 1px;
    width: 100%
}

.allotment-module_splitView__1rmCV.allotment-module_separatorBorder__3xs3c.allotment-module_horizontal__Tf6PK>.allotment-module_splitViewContainer__1ugsQ>.allotment-module_splitViewView__KtCWc:not(:first-child):before {
    height: 100%;
    width: 1px
}

:root {
    --focus-border: #007fd4;
    --sash-size: 8px;
    --sash-hover-size: 4px
}

.sash-module_sash__eG8e7 {
    pointer-events: auto;
    position: absolute;
    touch-action: none;
    z-index: 35
}

.sash-module_sash__eG8e7.sash-module_disabled__2MKAD {
    pointer-events: none
}

.sash-module_sash__eG8e7.sash-module_mac__2RGfI.sash-module_vertical__2Jemx {
    cursor: col-resize
}

.sash-module_sash__eG8e7.sash-module_vertical__2Jemx.sash-module_minimum__2FeMz {
    cursor: e-resize
}

.sash-module_sash__eG8e7.sash-module_vertical__2Jemx.sash-module_maximum__3xrwG {
    cursor: w-resize
}

.sash-module_sash__eG8e7.sash-module_mac__2RGfI.sash-module_horizontal__3-k3E {
    cursor: row-resize
}

.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E.sash-module_minimum__2FeMz {
    cursor: s-resize
}

.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E.sash-module_maximum__3xrwG {
    cursor: n-resize
}

.sash-module_sash__eG8e7.sash-module_disabled__2MKAD {
    cursor: default!important;
    pointer-events: none!important
}

.sash-module_sash__eG8e7.sash-module_vertical__2Jemx {
    cursor: ew-resize;
    height: 100%;
    top: 0;
    width: 8px;
    width: var(--sash-size)
}

.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E {
    cursor: ns-resize;
    height: 8px;
    height: var(--sash-size);
    left: 0;
    width: 100%
}

.sash-module_sash__eG8e7:not(.sash-module_disabled__2MKAD)>.sash-module_orthogonal-drag-handle__Y4gou {
    content: " ";
    cursor: all-scroll;
    display: block;
    height: 16px;
    height: calc(var(--sash-size)*2);
    position: absolute;
    width: 16px;
    width: calc(var(--sash-size)*2);
    z-index: 100
}

.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E.sash-module_orthogonal-edge-north__tQ0uv:not(.sash-module_disabled__2MKAD)>.sash-module_orthogonal-drag-handle__Y4gou.sash-module_start__1PV3d,.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E.sash-module_orthogonal-edge-south__1yF9L:not(.sash-module_disabled__2MKAD)>.sash-module_orthogonal-drag-handle__Y4gou.sash-module_end__vJ3_B {
    cursor: nwse-resize
}

.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E.sash-module_orthogonal-edge-north__tQ0uv:not(.sash-module_disabled__2MKAD)>.sash-module_orthogonal-drag-handle__Y4gou.sash-module_end__vJ3_B,.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E.sash-module_orthogonal-edge-south__1yF9L:not(.sash-module_disabled__2MKAD)>.sash-module_orthogonal-drag-handle__Y4gou.sash-module_start__1PV3d {
    cursor: nesw-resize
}

.sash-module_sash__eG8e7.sash-module_vertical__2Jemx>.sash-module_orthogonal-drag-handle__Y4gou.sash-module_start__1PV3d {
    left: -4px;
    left: calc(var(--sash-size)*-.5);
    top: -8px;
    top: calc(var(--sash-size)*-1)
}

.sash-module_sash__eG8e7.sash-module_vertical__2Jemx>.sash-module_orthogonal-drag-handle__Y4gou.sash-module_end__vJ3_B {
    bottom: -8px;
    bottom: calc(var(--sash-size)*-1);
    left: -4px;
    left: calc(var(--sash-size)*-.5)
}

.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E>.sash-module_orthogonal-drag-handle__Y4gou.sash-module_start__1PV3d {
    left: -8px;
    left: calc(var(--sash-size)*-1);
    top: -4px;
    top: calc(var(--sash-size)*-.5)
}

.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E>.sash-module_orthogonal-drag-handle__Y4gou.sash-module_end__vJ3_B {
    right: -8px;
    right: calc(var(--sash-size)*-1);
    top: -4px;
    top: calc(var(--sash-size)*-.5)
}

.sash-module_sash__eG8e7:before {
    background: transparent;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    transition: background-color .1s ease-out;
    width: 100%
}

.sash-module_sash__eG8e7.sash-module_vertical__2Jemx:before {
    left: calc(50% - 2px);
    left: calc(50% - var(--sash-hover-size)/2);
    width: 4px;
    width: var(--sash-hover-size)
}

.sash-module_sash__eG8e7.sash-module_horizontal__3-k3E:before {
    height: 4px;
    height: var(--sash-hover-size);
    top: calc(50% - 2px);
    top: calc(50% - var(--sash-hover-size)/2)
}

.sash-module_sash__eG8e7.sash-module_active__FozP9:before,.sash-module_sash__eG8e7.sash-module_hover__119X7:before {
    background: #007fd4;
    background: var(--focus-border)
}

body {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden
}

#root {
    height: 100vh
}

#rifpoint {
    color: green;
}

#snagpoint {
    color: red;
}

.tooltip1 {
  position: relative;
  display: inline-block;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  top: -5px;
}

/*.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/
.tooltip1:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}

.loader {
    border-top: 10px solid #5b6ead;
    border-right: 10px solid #ca463c;
    border-bottom: 10px solid #dac667;
    border-left: 10px solid #5dbc84;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    position: fixed;
    left: 50%;
    top: 35%;
    z-index: 9999;
    display: none;
}

.text-green {
    color: green;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.action {
    display: none;
}
.mainWir:hover .action {
    display:flex;
}

.css-q6hm0g:hover {
    background: rgb(86, 86, 86);
}

.selected {
    background: rgb(86, 86, 86);
}


@media only screen and (max-width: 1299px) {

    .headerImg {
        height: 30%;
    }

    #projects {
        width: 225px !important;
    }

    .pinPoints {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 1199px) {

    #projects {
        width: 170px !important;
    }

}

@media only screen and (max-width: 990px) {

    .headerImg {
        height: 20%;
    }

    #projects {
        width: 170px !important;
    }

}

@media only screen and (min-width: 1300px) {

    .headerImg {
        height: 40%;
    }

    #projects {
        width: 260px !important;
    }

    .pinPoints {
        margin-left: 15px;
    }

}
/* 
@media (min-width: 400px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
} */