<div style="display: none;" class="inspDet" id="sw">
    <div id="contentItype">
      <style>
      .form-check .form-check-input{
      width:20px;
      height:20px;
      border: 1px solid #ced4da !important;
      }
      .table-secondary, .table-secondary>td, .table-secondary>th {
          background-color: #f5f5f5 !important;
        padding:5px !important;
      }
      .table-secondary tbody+tbody, .table-secondary td, .table-secondary th, .table-secondary thead th {
          border-color: #dee2e6 !important;
      }
      </style>

        <div class="row mt-5">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="table-secondary">
                    <th scope="col" colspan="2" rowspan="2" class="text-center align-middle" width="50%">Inspection List</th>
                    <th scope="col" rowspan="2" class="text-center align-middle">Acceptance Criteria</th>
                    <th scope="col" colspan="3" class="text-center">CONTRACTOR</th>
                    <th scope="col" rowspan="2" class="text-center align-middle">ENGINEER</th>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="col" class="text-center">S/C</th>
                    <th scope="col" class="text-center">SITE</th>
                    <th scope="col" class="text-center">QA/QC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" width="3%">1</th>
                    <td><strong>General</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">1.1</td>
                    <td>Approved Method Statement &amp; ITP</td>
                    <td>Approval</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">1.2</td>
                    <td>Design &amp; Detailed Working Drawings </td>
                    <td>Approved Drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">1.3</td>
                    <td>Approved Material Submittals</td>
                    <td>Approval</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <td scope="row">1.4</td>
                    <td>Approved Shotcrete Designed Mix</td>
                    <td>Approved material submittal</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><strong>Work Preparation</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">2.1</td>
                    <td>Ensure that the scaffoldings are erected according to the approved plans or drawing and inspected &amp; checked by Third Party (if required)</td>
                    <td>As per approved shop drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">2.2</td>
                    <td>Equipment to be used for shotcrete (shortcrete pump, compressor, etc.) should be inspected and in good condition prior to commencement of work.</td>
                    <td>As per approved shop drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <td scope="row">2.3</td>
                    <td>Area to receive concrete is clean and free of any loose particles. Hard soil or hard materials which cannot remove by water jetting should be chipped</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <td scope="row">2.4</td>
                    <td>Ensure that safety signs and barricades are in place to isolate the area of works.</td>
                    <td>As per Method Statement RA</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><strong>Shotcrete Application</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">3.1</td>
                    <td>Ensure that wire mesh are securely in place and fix properly, thickness markers should be place to achieve the required thickness of concrete.</td>
                    <td>As per approved shop drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.2</td>
                    <td>Ensure that application of shotcrete is in accordance with the method statement</td>
                    <td>As per approved designed mix</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.3</td>
                    <td>First layer or rough coat should be applied to fill the gaps between piles</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.4</td>
                    <td> Second layer should be applied 3 to 4 hours after the application of the first layer.</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <td scope="row">3.5</td>
                    <td> Finishing or trowelling should be done right after the second layer and right thichness is achieved. Concrete finish should be in accordance with the specification approved by the client</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <th scope="row">4</th>
                    <td><strong>Post Shotconcreting</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">4.1</td>
                    <td>Ensure that any defects or cracks shall be repair immediately</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">4.2</td>
                    <td>Final inspection of shotcrete finishes and shotcrete test reports</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th rowspan="2" width="16%" class="align-middle text-center"><strong></strong><br>Comments</th>
                    <th width="42%" class="text-center">STJV</th>
                    <th width="42%" class="text-center">THE ENGINEER</th>
                  </tr>
                  <tr>
                    <td><textarea class="form-control"></textarea></td>
                    <td><textarea class="form-control"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="text-center">Signing Off</th>
                    <th class="text-center">Sixco-Trojan JV Site Superintendent</th>
                    <th class="text-center">Sixco-Trojan JV QC Inspector</th>
                    <th class="text-center">The Engineer  Inspector</th>
                  </tr>
                  <tr>
                    <td class="text-center">Date</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td class="text-center">Name</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>