<div style="display: none;" class="inspDet" id="sri">
    <div id="contentItype">
      <style>
      .form-check .form-check-input{
      width:20px;
      height:20px;
      border: 1px solid #ced4da !important;
      }
      .table-secondary, .table-secondary>td, .table-secondary>th {
          background-color: #f5f5f5 !important;
        padding:5px !important;
      }
      .table-secondary tbody+tbody, .table-secondary td, .table-secondary th, .table-secondary thead th {
          border-color: #dee2e6 !important;
      }
      </style>

      <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="table-secondary">
                    <th scope="col" colspan="2" rowspan="2" class="text-center align-middle" width="50%">Inspection List</th>
                    <th scope="col" rowspan="2" class="text-center align-middle">Acceptance Criteria</th>
                    <th scope="col" colspan="3" class="text-center">CONTRACTOR</th>
                    <th scope="col" rowspan="2" class="text-center align-middle">ENGINEER</th>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="col" class="text-center">S/C</th>
                    <th scope="col" class="text-center">SITE</th>
                    <th scope="col" class="text-center">QA/QC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" width="3%">1</th>
                    <td><strong>General</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">1.1</td>
                    <td>Approved Method Statement &amp; ITP</td>
                    <td>Approval</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">1.2</td>
                    <td>Design &amp; Detailed Working Drawings </td>
                    <td>Approved Drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <td scope="row">1.3</td>
                    <td>Approved Material Submittals </td>
                    <td>Approval</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><strong>Materials Receiving and Inspection</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">2.1</td>
                    <td>Material Inspection Request (MIR) submitted to Engineer for inpection</td>
                    <td>MIR Approval</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">2.2</td>
                    <td>Steel reinforcement are approved and all certifications has been received</td>
                    <td>As per Specification</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">2.3</td>
                    <td>Steel reinforcement are stored in correct manner with with timber support at the bottom and covered with plastic or tarpauline</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><strong>Steel Reinforcement Installation</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">3.1</td>
                    <td>Ensure that reinforcement is cut to size, tied to correct spacing and placed as per approved drawing and bar bending schedule</td>
                    <td>As per approved shop drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.2</td>
                    <td>Ensure that bars are free of mud, oil, grease, loose rust or other material</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.3</td>
                    <td>Ensure that correct spacers are used to meet required concrete cover as per specifications and drawings.</td>
                    <td>As per approved shop drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.4</td>
                    <td>Ensure starter bars are installed as per drawing (if applicable as per drawing)</td>
                    <td>As per approved shop drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th rowspan="2" width="15%" class="align-middle text-center"><strong><br>Comments</strong></th>
                    <td>&nbsp;</td>
                    <th width="50%" class="text-center">THE ENGINEER</th>
                  </tr>
                  <tr>
                    <td colspan="2"><textarea class="form-control"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="text-center">Signing Off</th>
                    <th class="text-center">Sixco-Trojan JV Site Superintendent</th>
                    <th class="text-center">Sixco-Trojan JV QC Inspector</th>
                    <th class="text-center">The Engineer  Inspector</th>
                  </tr>
                  <tr>
                    <td class="text-center">Date</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td class="text-center">Name</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>