<div style="display: none;" class="inspDet" id="tc">
    <div id="contentItype">
      <style>
      .form-check .form-check-input{
      width:20px;
      height:20px;
      border: 1px solid #ced4da !important;
      }
      .table-secondary, .table-secondary>td, .table-secondary>th {
          background-color: #f5f5f5 !important;
        padding:5px !important;
      }
      .table-secondary tbody+tbody, .table-secondary td, .table-secondary th, .table-secondary thead th {
          border-color: #dee2e6 !important;
      }
      </style>

      <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="table-secondary">
                    <th scope="col" colspan="2" rowspan="2" class="text-center align-middle" width="50%">Inspection List</th>
                    <th scope="col" rowspan="2" class="text-center align-middle">Acceptance Criteria</th>
                    <th scope="col" colspan="3" class="text-center">CONTRACTOR</th>
                    <th scope="col" rowspan="2" class="text-center align-middle">ENGINEER</th>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="col" class="text-center">S/C</th>
                    <th scope="col" class="text-center">SITE</th>
                    <th scope="col" class="text-center">QA/QC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" width="3%">1</th>
                    <td><strong>General</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">1.1</td>
                    <td>Approved Method Statement &amp; ITP</td>
                    <td>Approval</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">1.2</td>
                    <td>Detailed Thermal Control Plan </td>
                    <td>As pe MES</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <td scope="row">1.3</td>
                    <td>Mock-up Approval </td>
                    <td>Approval</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><strong>Preparation Prior to Installation of Thermocouple</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">2.1</td>
                    <td>Ensure that thermocouples and data logger to be installed are available on site as per the required number for each structure</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">2.2</td>
                    <td>Check Thermal Data Logger calibration date</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">2.3</td>
                    <td>Ensure that the risk assestment for installation procedure was followed and potential hazard was identified by Safety Officer</td>
                    <td>As per MES Risk Assestment</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><strong>Thermocouple Installation and Concrete Casting</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">3.1</td>
                    <td>Ensure that formworks are checked for its dimensions, level &amp; alignment and properly braced as per approved drawings.</td>
                    <td>As per Approved Shop Drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.2</td>
                    <td>Reinforcement are fixed and properly installed as per approved reinforcement drawing.</td>
                    <td>As per Approved Shop Drawings</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.3</td>
                    <td>Ensure that thermocouples are fixed to reinforcement; and in place and in correct position at predefined location.</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">3.4</td>
                    <td>Ensure that themocouples are fixed 10 cm from the concrete surfaces; at the core of the section; and at 10 cm from the bottom surface of the pour</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <td scope="row">3.5</td>
                    <td>Ensure that fresh concrete temperature are properly checked and recorded, start and end time of pouring shall be recorded in batch ticket</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            <tr>
                    <th scope="row">4</th>
                    <td><strong>Temperature Monitoring and Reporting</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td scope="row">4.1</td>
                    <td>Ensure that after finishing of the concrete surface, a polyethylene sheet shall be laid immediately on top to cover the concrete</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">4.2</td>
                    <td>10 cm thick polystyrene board shall be laid on top of the polyethylene sheet to provide sufficient insulation and shall be kept in place for minimum 7 days</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td scope="row">4.3</td>
                    <td>Ensure that reporting shall be in accordance and specified in the Method Statement.</td>
                    <td>As per Method Statement</td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td class="text-center"><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                      </div></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                </tr></tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th rowspan="2" width="15%" class="align-middle text-center"><strong><br>Comments</strong></th>
                    <td>&nbsp;</td>
                    <th width="50%" class="text-center">THE ENGINEER</th>
                  </tr>
                  <tr>
                    <td colspan="2"><textarea class="form-control"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="text-center">Signing Off</th>
                    <th class="text-center">Sixco-Trojan JV Site Superintendent</th>
                    <th class="text-center">Sixco-Trojan JV QC Inspector</th>
                    <th class="text-center">The Engineer  Inspector</th>
                  </tr>
                  <tr>
                    <td class="text-center">Date</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td class="text-center">Name</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>