<div style="display: none;" class="inspDet" id="wp2">
    <div id="contentItype">
      <style>
        .form-check .form-check-input{
        width:20px;
        height:20px;
        border: 1px solid #ced4da !important;
        }
        .table-secondary, .table-secondary>td, .table-secondary>th {
            background-color: #f5f5f5 !important;
          padding:5px !important;
        }
        .table-secondary tbody+tbody, .table-secondary td, .table-secondary th, .table-secondary thead th {
            border-color: #dee2e6 !important;
        }
        </style>

        <div class="container">
          <div class="row mt-5">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col" colspan="2" rowspan="2" class="text-center align-middle" width="50%">Inspection List</th>
                      <th scope="col" rowspan="2" class="text-center align-middle">Acceptance Criteria</th>
                      <th scope="col" colspan="3" class="text-center">CONTRACTOR</th>
                      <th scope="col" rowspan="2" class="text-center align-middle">ENGINEER</th>
                    </tr>
                    <tr class="table-secondary">
                      <th scope="col" class="text-center">S/C</th>
                      <th scope="col" class="text-center">SITE</th>
                      <th scope="col" class="text-center">QA/QC</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" width="3%">1</th>
                      <td><strong>General</strong></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td scope="row">1.1</td>
                      <td>Approved Method Statement &amp; ITP</td>
                      <td>Approval</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td scope="row">1.2</td>
                      <td>Sub-contractor / Supplier Approval </td>
                      <td>As per Specification</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
              <tr>
                      <td scope="row">1.3</td>
                      <td>Design &amp; Detailed Working Drawings</td>
                      <td>Approved Drawings</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td scope="row">1.4</td>
                      <td>Materials Approval</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><strong>Surface Preparation</strong></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td scope="row">2.1</td>
                      <td>Ensure the concrete surface for waterproofing is clean, free from loose materials, honeycomb, dust-free and concrete surface is smooth</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td scope="row">2.2</td>
                      <td>Concrete repair (if any) is done as per method statement and properly cured prior to application of waterproofing</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                      <tr><th scope="row">3</th>
                      <td><strong>Application of Waterproofing (General)</strong></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td scope="row">3.1</td>
                      <td>Ensure that the waterproofing applicator is approved by the Engineer and have the knowledge to execute the works according to MES</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td scope="row">3.2</td>
                      <td>Ensure that all overlaps, corners, and detailing are properly sealed with tapes and self-adhesive selvedges</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td scope="row">3.3</td>
                      <td>On all inside corners, install 19-mm minimum fillets of liquid membrane, or as otherwise recommended by manufacturer, on all inside corners</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
              <tr>
                      <td scope="row">3.4</td>
                      <td>Ensure that earthing bars connected to steel reinforcement (if required) are properly done by experienced welder and inspected by the Engineer</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
              <tr>
                      <th scope="row">4</th>
                      <td><strong>Application of Waterproofing (Modified Bituminous Sheet WP2) </strong></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td scope="row">4.1</td>
                      <td>Ensure that application of Mapethene Prime is in accordance to Method Statement before installing Mapethene HP AT. </td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td scope="row">4.2</td>
                      <td>Ensure that Bituboard protection board is installed for waterproofing protection to absorbed against aggregates shock or normal foot traffic.</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
              <tr>
                      <td scope="row">4.3</td>
                      <td>Polyfond Kit Drain to be installed for spot bonding with bituboard and for added protection and drainage</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
              <tr>
                      <td scope="row">4.4</td>
                      <td>Check that one layer of Extruded Polystyrene Insulation Board is install above the Drainage Layer</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
              <tr>
                      <td scope="row">4.5</td>
                      <td>Ensure that waterproofing is protected from damage and wear during remainder of construction period, do not permit foot or vehicular traffic on unprotected membrane.</td>
                      <td>As per Method Statement</td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td class="text-center"><div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="">
                        </div></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <th rowspan="2" width="16%" class="align-middle text-center"><strong></strong><br>Comments</th>
                      <th width="42%" class="text-center">STJV</th>
                      <th width="42%" class="text-center">THE ENGINEER</th>
                    </tr>
                    <tr>
                      <td><textarea class="form-control"></textarea></td>
                      <td><textarea class="form-control"></textarea></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="text-center">Signing Off</th>
                <th class="text-center">MAPEI</th>
                <th class="text-center">Waterproofing Subcon</th>
                      <th class="text-center">Sixco-Trojan JV Site Superintendent</th>
                      <th class="text-center">Sixco-Trojan JV QC Inspector</th>
                      <th class="text-center">The Engineer  Inspector</th>
                    </tr>
                    <tr>
                      <td class="text-center">Date</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                      <td class="text-center">Name</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>